
.sound_placeholder {
    height:50px;
    width:200px;
    color:#ffffff;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.sound_placeholder:hover {
    opacity: 1;
}

#sound_icon_placeholder {
    font-size:50px;
    float:left;
    /* margin-top: auto;
    margin-bottom: auto; */
    line-height: 50px;
    vertical-align: middle;
}

#sound_title_placeholder {
    font-size:25px;
    float:left;
    line-height: 50px;

    /* margin-top: auto;
    margin-bottom: auto; */

    vertical-align: middle;
}
