#button_playpause {
    /* float: left; */
    background:url("../icons/play-arrow-gray-md.png");
    background-size:cover;

    width:30px;
    height:30px;
    fill:#ffffff;
    border: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;

}

#button_playpause:hover {
    opacity: 1;
}

.slidecontainer {
    width: 100%;
}

.slider {
    vertical-align: middle;
    float:right;
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
