html {
    height:600px;
    width:800px;
}

body {
    height:100%;
    font-family:"Helvetica Neue";
    background:#1E2D39;
}

#header {
    width:100%;
}

#logo {
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 15px;
    font-size: 48px;
    font-family: "Monoton";
}

#logo2 {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:15px;
    font-size:30px;
    /* font-family: 'Permanent Marker', cursive; */
}

td {
    vertical-align: middle;
}

p {
    color:#ffffff;
}

.header {
    float: top;
}

#list_title {
    font-size:24px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#label_no_of_sounds {
    font-size:14px;
    margin-top:2px;
}

#sidebar_separator {
    height:50%;
    float: left;
    border-left:1px solid #ffffff;
}

#mainpanel {
    height:100%;
    width:100%;
}

#play_panel {
    width:100%;
}

.sidebar {
    margin-left: 15px;
    margin-right: 25px;
    float: left;
}

#sidebar_title {
    margin-top: 0px;
    font-size:20px;
}

.listpanel {
    float:left;
    width:500px;
}

.listitem {
    color:#ffffff;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.listitem:hover {
    opacity: 1;
}

.coverpanel {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    width:200px;
}

.soundlistpanel {
    float: left;
    width:200px;
    background: yellow;
    background-opacity:50%;
}

.table_lists {
    border-spacing: 0px 10px;
}

.table_sounds {
    margin-left: 100px;
}
